<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="./js/main.js" defer></script>

<script>
  $(document).ready(()=>{
    $('.block-carousel').slick({
      dots: true,
      arrows: false,
      infinite: false,  //?
      centerMode: true,
    });
    
    // $('#nextContents').click(() => {
    //   $('#nextContentsList').show();
    //   $('#nextContents').hide();
    // });
  });

  
  const clickMore = () => {
    document.getElementById('nextContents').addEventListener('click', (e) => {
      document.getElementById('nextContentsList').style.display="block";
      e.target.style.display="none";
    });
  }
  window.addEventListener('load', clickMore, false);

</script>