<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="./js/main.js" defer></script>

<script>
  $(document).ready(()=>{
    $('.block-carousel').slick({
      dots: true,
      arrows: false,
      infinite: true,
      speed: 400,
      fade: true,
      cssEase: 'linear'
    });
    
    // $('#nextContents').click(() => {
    //   $('#nextContentsList').show();
    //   $('#nextContents').hide();
    // });
  });

  
  const loadWindow = () => {

    // botton 'More' for extend table
    document.getElementById('nextContents').addEventListener('click', (e) => {
      document.getElementById('nextContentsList').style.display="block";
      e.target.style.display="none";
    });

    // smooth scrolling navigation
    const navNames = ['home', 'about', 'contents', 'books', 'education', 'skills', 'portfolio', 'clients', 'contact'];
    const navElements = document.querySelectorAll('.header-list__item');
    navNames.forEach( v => {
      var el = document.querySelector('#' + v);     // #about
      var btn = document.querySelector('#go_' + v); // #go_about
      if (el && btn) {
        btn.addEventListener('click', () => { 
          navElements.forEach( v => v.classList.remove('active'));
          btn.parentElement.classList.add('active');
          el.scrollIntoView({block: "nearest", behavior: "smooth"});
        });
      }

    });
  }
  window.addEventListener('load', loadWindow, false);

</script>