<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BUKEE</title>
		//= includes/head.html
	</head>
<body>
	<!-- //= ../blocks/main/main.html -->
	
<!-- Main (1) -->
	<div class="page-main">
		<header>
			<div class="header">
				<a href="#" class="header__logo"></a>
				<ul class="header-list">  
					<li class="header-list__item active"><a class="header-list__link" href="">Home</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">About</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Contents</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Books</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Education</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Skills</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Portfolio</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Clients</a></li>
					<li class="header-list__item"><a class="header-list__link" href="">Contact</a></li>
				</ul>
			</div>
		</header>
		<div class="wrap">
				<div class="block-book">
					<div class="block-book-demo">
						<h2>Good book <span>Don’t judge a book by its cover</span></h2>
						<p>- By Emma Anderson</p>
					</div>
					<div class="block-text">
						<p class="block-text__name">- By Emma Anderson</p>
						<h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span> </h1>
						<p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<a href="#" class="block-text__btn">Buy this book - $15.00</a>
						<small>* Some conditions may applicable</small>
					</div>
				</div>
			</div>
	</div>

<!-- Emma Anderson (2) -->
	<div class="page">   
		<div class="wrap">
			<div class="block-author">
				<div class="block-text">
						<p class="block-text__name block-text__name_top">- Book Author</p>
						<h2 class="block-text__title">Emma Anderson <span>A room without books is like a body without a soul</span></h2>
						<p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<a href="#" class="block-text__btn">Read full biography	</a>
				</div>
				<div class="block-ava">
					<svg class="block-ava__svg" width="435px" height="558px">
						<linearGradient id="grad1" x1="86.603%" y1="50%" x2="0%" y2="0%">
							<stop offset="0%" style="stop-color:rgb(90,202,177)"  />
							<stop offset="100%" style="stop-color:rgb(66,99,132)"  />
						</linearGradient>
						<rect width="435" height="558" x="0" y="0" fill=url(#grad1)></rect>
				 </svg>
				 <img class="block-ava__img" src="../img/autor.jpg" alt="Author">
				</div>
			</div>
			<div class="block-counter">
					<p><span>12</span>Total published books</p>
					<p><span>5</span>Best selling books</p>
					<p><span>15,000</span>Happy readers</p>
			</div>
		</div>
	</div>

<!-- Book Contents (3) -->
	<div class="page page_gray">
		<div class="wrap">
	
			<div class="block-title">
					<h2>Book Contents<span>Let’s see what we have covered in the book</span></h2>
			</div>

			<div class="block-content">
				<div class="block-content__about">
					<h3>About the book</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
					<div>
						<p>Featured in:</p>
						<ul>
							<li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
							<li><a href="#"><i class="fab fa-amazon"></i></a></li>
							<li><a href="#"><i class="fab fa-sass"></i></a></li>             
						</ul>
					</div>
				</div>
				<div class="block-content__index">
					<h3>Table of contents</h3>
					<div class="block-content__wrap">					
						<ol class="block-content__list">
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>		
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>	
							<li>Labore et dolore magna</li>	
						</ol>
						<ol id="nextContentsList" class="block-content__list block-content__list_next" style="display:none;">
								<li>Lorem ipsum dolor sit amet</li>
								<li>Consectetur adipisicing elit</li>
								<li>Labore et dolore magna</li>
								<li>Consectetur adipisicing elit</li>
								<li>Labore et dolore magna</li>		
								<li>Lorem ipsum dolor sit amet</li>
								<li>Consectetur adipisicing elit</li>
								<li>Labore et dolore magna</li>
								<li>Consectetur adipisicing elit</li>	
								<li>Labore et dolore magna</li>	
						</ol>
					</div>
	
					<button id="nextContents" class="block-content__btn">More</button>
				</div>
			</div>
		</div>
	</div>

<!-- Other Books (4) -->
	<div class="page">
		<div class="wrap">
			<div class="block-title">
					<h2>Other Books <span>Some books you might be interested in</span></h2>
			</div>
			
			<div class="block-books">
				<ul class="book-list">

					<li class="book-list__item">						
						<h3 class="book-list__title">Inception</h3>
						<p class="book-list__subtitle">Books are the best friends</p>
						<p class="book-list__author">- By Emma Anderson</p>
						<a href="#" class="book-list__btn">READ MORE</a>
					</li>

					<li class="book-list__item">
							<h3 class="book-list__title">Fight Club</h3>
							<p class="book-list__subtitle">Books are the best friends</p>
							<p class="book-list__author">- By Emma Anderson</p>
							<a href="#" class="book-list__btn">READ MORE</a>
					</li>
					<li class="book-list__item">
							<h3 class="book-list__title">Daredevils</h3>
							<p class="book-list__subtitle">Books are the best friends</p>
							<p class="book-list__author">- By Emma Anderson</p>
							<a href="#" class="book-list__btn">READ MORE</a>
					</li>
				</ul>

				<ul class="about-list">
					<li class="about-list__item">
						<div class="about">
							<h4 class="about__title">Inception</h4>
							<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
							<a href="#" class="about__btn">READ MORE</a>
						</div>						
					</li>
					<li class="about-list__item">
						<div class="about">
							<h4 class="about__title">Fight Club</h4>
							<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
							<a href="#" class="about__btn">READ MORE</a>
						</div>						
					</li>
					<li class="about-list__item">
						<div class="about">
							<h4 class="about__title">Daredevils</h4>
							<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
							<a href="#" class="about__btn">READ MORE</a>
						</div>  	
					</li>
	
				</ul>
			</div>

			<a class="block-books__btn" href="#">Browse all books</a>

		</div>
	</div>

<!-- Slider (5) -->
	<div class="page page-carousel">
		<div class="wrap">
			<div class="block-carousel">
				<div>
					<div class="block-carousel-ava">
						<div class="block-carousel-thumb">
								<img src="../img/feedback.png" alt="">
						</div>
						<span class="block-carousel-bq"></span>
					</div>
					<h3>Kate Dennings-01</h3>
					<p class="block-carousel__expert">Calligraphy Expert</p>
					<p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</div>
				<div>
					<div class="block-carousel-ava">
						<div class="block-carousel-thumb">
								<img src="../img/feedback.png" alt="">
						</div>
						<span class="block-carousel-bq"></span>
					</div>
					<h3>Kate Dennings-02</h3>
					<p class="block-carousel__expert">Vary good Expert</p>
					<p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</div>
				<div>
					<div class="block-carousel-ava">
						<div class="block-carousel-thumb">
								<img src="../img/feedback.png" alt="">
						</div>
						<span class="block-carousel-bq"></span>
					</div>
				<h3>Kate Dennings-03</h3>
					<p class="block-carousel__expert">Remarkable man</p>
					<p class="block-carousel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</div>
			</div>
		</div>

		<svg class="page__svg"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			viewbox="0 0 1600 849">
			<path fill-rule="evenodd"  fill="rgb(68, 68, 79)"
			d="M 0 0 L 802 61 L 1601 0 L 1601 789 L 802 849 L 0 789 L 0 0 Z"/>
		</svg>


	</div>

<!-- Upcoming Events (6) -->
	<div class="page">   
			<div class="wrap">
				<div class="block-author">
					<div class="block-ava">
							<svg class="block-ava__svg block-ava__svg--left" width="435" height="704">
								<linearGradient id="grad1" x1="0" y1="0" x2="435" y2="704">
									<stop offset="0%" style="stop-color:rgb(90,202,177)"  />
									<stop offset="100%" style="stop-color:rgb(66,99,132)"  />
								</linearGradient>
								<rect width="435" height="704" x="0" y="0" fill=url(#grad1)></rect>
							</svg>
							<img class="block-ava__img block-ava__img--left" src="../img/autor2.jpg" alt="Author">
					</div>		
					<div class="block-text block-text--width">
							<p class="block-text__name">- Emma Anderson</p>
							<h2 class="block-text__title">Upcoming Events <span>Some upcoming events you might be interested in</span></h2>
							<div class="block-text-item">
								<p class="block-text-item__date">November 21, 2018</p>
								<h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
								<p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis</p>
								<a href="#" class="block-text-item__btn">Register</a>
							</div>
							<div class="block-text-item">
									<p class="block-text-item__date">November 21, 2018</p>
									<h4 class="block-text-item__title">Book reading - Los Angeles, CA</h4>
									<p class="block-text-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis</p>
									<a href="#" class="block-text-item__btn">Register</a>
							</div>
					</div>
				</div>
			</div>
	</div>
	
<!-- Latest from Blog (7) -->
	<div class="page page_gray">
		<div class="wrap">
			<div class="block-title">
				<h2>Latest from Blog<span>Some of the latest posts from my personal blog</span></h2>
			</div>
			<div class="block-blog">
				<div class="block-blog__item">
					<div class="block-blog-img"><img src="../img/blog1.jpg" alt=""></div>
					<h4>Importance of light in photography</h4>
					<div class="block-blog-info">
						<p>By <a href="">Emma Anderson</a></p><span>&nbsp;-&nbsp;</span><a href="">June 20, 2018</a>
					</div>
					<p class="block-blog__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
				</div>
				<div class="block-blog__item">
					<div class="block-blog-img"><img src="../img/blog2.jpg" alt=""></div>
					<h4>The tools you need for the perfection</h4>
					<div class="block-blog-info">
						<p>By <a href="">Emma Anderson</a></p><span>&nbsp;-&nbsp;</span><a href="">June 20, 2018</a>
					</div>
					<p class="block-blog__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
				</div>
				<div class="block-blog__item">
					<div class="block-blog-img"><img src="../img/blog4.jpg" alt=""></div>
					<h4>Knowing the difference is important</h4>
					<div class="block-blog-info">
						<p>By <a href="">Emma Anderson</a></p><span>&nbsp;-&nbsp;</span><a href="">June 20, 2018</a>
					</div>
					<p class="block-blog__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
				</div>
			</div>
			<a class="block-blog__btn" href="#">Read more in the blog</a>
		</div>
	</div>

<!-- Join Newsletter (8) -->
<div class="page">
	<div class="wrap">
		<div class="block-letter">
			<div class="block-letter-item">
					<h2 class="block-letter__title">Join Newsletter</h2>
					<p class="block-letter__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
			</div>
			<div class="block-letter-item">
				<input class="block-letter__input" type="text" name="" placeholder="Enter your email">
				<button class="block-letter__btn" href="">Subscribe</button>
			</div>
		</div>
	</div>
</div>

<!-- Footer (9) -->
<div class="footer">
	<div class="wrap">
		<div class="block-footer">
			<div>
				<a href="" class="block-footer__logo"></a>
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p class="block-footer__copyright">© 2018 Bukee Private Limited.</p>
			</div>
			<div>
				<h2 class="block-footer__title">Useful Links</h2>
				<ul class="block-footer__list">
					<li>About Bukee</li>
					<li>Explore Our Ecosystem</li>
					<li>Monthly Community Meetup</li>
					<li>Privacy Policy</li>
				</ul>
			</div>
			<div>
				<h2 class="block-footer__title">Our Contacts</h2>
				<ul class="block-footer__list block-footer__list--right ">
					<li>Amphitheatre Parkway, CA, 94043</li>
					<li>Call us on: +4455663322</li>
					<li>Email: support@bukee.mail</li>
				</ul>
				<div class="block-footer__wrap">
						<ul class="block-footer__social">
								<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-twitch"></i></a></li>
								<li><a href=""><i class="fab fa-youtube"></i></a></li>
								<li><a href=""><i class="fab fa-slack-hash"></i></a></li>
								<li><a href=""><i class="fab fa-whatsapp"></i></a></li>
						</ul>		
				</div>

			</div>
		</div>
	</div>
</div>

	//= includes/scripts.html
</body>
</html>