$light-color: #fff;
$accent-color: #65e496;
$bg-list-color: #5fc9b8;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$gray-color: #9191b5;

%for-botton {		// @extend %for-botton
		content: '';
		height: 10px;
		width: 100%;
		background-color: #b2f1be;
		background-color: red;
		position: absolute;
		bottom: -2px;
		left: 0;
		z-index: -1;
		border-radius: 3px;
}
@mixin box-shadow($color: #b2f1be) {
	box-shadow: 0 -2px $color inset;
}
@mixin btn-gradient($first:#65e49c, $second:#65e4b0) {
	background: linear-gradient(to bottom right, $first, $second);
}
@mixin set-font($fz, $va, $lh:inherit, $ff:'Roboto Slab', $fw:400) {
	font-size: $fz;
	letter-spacing: $fz*$va/1000;
	line-height: $lh;
	font-family: $ff;
	font-weight: $fw;
}

h1, h2, h3, h4, p, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto Slab', serif;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

// Main (1)
.page-main {
	background-image: url(../../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;		// чтобы растягивался по содержимому
	color: $light-color;
	padding-bottom: 157px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding: 38px 15px 166px 15px;
	@media (max-width:920px) {	// <= 920px
		flex-direction: column;
		&__logo {
			margin-bottom: 25px;
		}
	}
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../../img/logo.svg);
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		
		&__item {
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom: 3px solid transparent;
			transition: 0.3s;
			&:hover {
				border-bottom: 3px solid $accent-color;
			}
		}
		&__item.active {
			border-bottom: 3px solid $accent-color;
		}
		&__link {
			color: $light-color;
			text-decoration: none;
			letter-spacing: 0.8px;
		}
	} 
}

// (GOOD BOOK) in main(1)
.block-text {
	flex-basis: calc(93% - 500px);
	&--width {
		flex-basis: calc(93% - 520px);
		margin-top: -17px;
	}
	&__name {
		@include set-font($fz:18px, $va:50, $ff:'Open Sans');
		margin-bottom: 30px;
	}
	&__name_top {
		margin-top: 16px;
		margin-left: 0;
		margin-bottom: 19px;
		letter-spacing: calc(18px*40 / 1000);
	}
	&__title {
			@include set-font($fz:48px, $va:40, $lh:44px, $fw:700);
			margin-bottom: 40px;
			span {
				@include set-font($fz:18px, $va:50, $lh:44px);
				display: block;
				color: $accent-color;
				margin-top: 9px;
			}
	}

	&__description {
		margin-bottom: 24px;
		@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');
	}

	&__btn {
		display: block;
		@include set-font($fz:18px, $va:40);
		@include btn-gradient();
		@include box-shadow(#58b988);
		color: $light-color;
		text-decoration: none;
		max-width: 250px;
		border-radius: 3px;
		text-align: center;
		margin-top: 48px;
		margin-bottom: 19px;
		padding: 14px 0;	
	}
	small {
		@include set-font($fz:12px, $va:50, $lh:22px, $ff:'Open Sans');
		font-style: italic;
	}
	&-item {
		margin-bottom: 55px;
		&__date {
			@include set-font($fz:15px, $va:50, $lh:44px, $ff:'Open Sans');
			margin-bottom: 4px;
		}
		&__title {
			@include set-font($fz:18px, $va:50, $lh:44px);
			margin-bottom: 16px;
		}
		&__desc {
			@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');
		}
		&__btn {
			display: block;
			@include set-font($fz:18px, $va:40);	//set-font($fz, $va, $lh, $ff:'Roboto Slab')
			@include btn-gradient();
			@include box-shadow(#58b988);
			color: $light-color;
			text-decoration: none;
			max-width: 137px;
			border-radius: 3px;
			text-align: center;
			margin-top: 28px;
			padding: 14px 0;
		}
	}
}

.block-book {
	display: flex;
	justify-content: space-between;
	&-demo {
		display: block;
		width: 446px;
		height: 643px;
		background-image: url(../../img/book.svg);
		background-repeat: no-repeat;
		flex-basis: 446px;
		position: relative;

		h2 {
			@include set-font($fz:36px, $va:40, $fw:700);
			text-transform: uppercase;
			position: absolute;
			left: 130px;
			top: 110px;
			
			span {
				@include set-font($fz:14px, $va:50, $lh:24px, $ff:'Open Sans');
				display: block;
				text-transform: none;
				color: $accent-color;
			}

		}
		p {
			@include set-font($fz:14px, $va:50, $lh:24px, $ff:'Open Sans');
			display: block;
			position: absolute;
			bottom: 55px;
			left: 84px;
			color: $accent-color;
		}
	}
}

// any page
.page {
	padding-top: 161px;
	padding-bottom: 157px;
	@media (max-width:1020px) { // <=1020
		padding-top: 120px;
		padding-bottom: 120px;
	}
	position: relative;
	&_gray {
		background-color: $bg-light-color;
	}

	&__svg {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		min-height: 694px;
		@media (max-width:1020px) { // <=1020
			display: none;
		}
	}
	&-carousel {
		@media (max-width:1020px) { // <=1020
			background-color: $bg-dark-color;
		}
	}
}

// Emma Anderson (2)
.block-author {
	display: flex;
	justify-content: space-between;
}

.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		right: 0;
		z-index: -1;
	}
	&__svg--left {
		right: inherit;
		left: 0;
	}
	&__img {
		margin-top: 47px;
		margin-right: 44px;
	}
	&__img--left {
		margin-top: 49px;
		margin-left: 51px;
		margin-right: 0;
	}
}

.block-counter {
	display: flex;
	justify-content: space-around;
	margin-top: 178px;
	margin-left: -10px;
	@media (max-width:750px) {	// <= 750
		flex-direction: column;
		&>p {
			margin-bottom: 20px;
		}
	}

	p {
		@include set-font($fz:18px, $va:40, $lh:44px, $ff:'Open Sans');
		display: block;
		text-align: center;

		span {
			@include set-font($fz:80px, $va:40, $lh:44px, $fw:100);
			display: block;
			color: $accent-color;
			margin-bottom: 32px;
		}
	}
}

// Book Contents (3)
.block-content {
	display: flex;
	justify-content: space-between;
	padding-top: 73px;
	@media (max-width:1020px) { // <= 1020
		min-width: 750px;
		margin: 73px auto 0;
		flex-direction: column;
	}
	
	&__about {

		//flex-basis: 41%;
		flex-basis: calc(100% - 690px);
		@media (max-width:1020px) { // <= 1020
			flex-basis: 100%;
		}
		padding-right: 117px;
		h3 {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: calc(24px*50 / 1000);
			line-height: 1;
			padding-bottom: 20px;
		}
		p {
			font-size: 15px;
			font-family: 'Open Sans';
			letter-spacing: calc(15px*50 / 1000);
			line-height: 1.6;
			
		}	
		div {
			padding-top: 28px;
			p {
				font-size: 18px;
				font-family: 'Roboto Slab';
				font-weight: 700;
				letter-spacing: calc(18px*50 / 1000);
				
				display: inline-block;
			}
			ul {
				list-style-type: none;
				display: inline-flex;
				justify-content: flex-start;
				
				li {
					margin-left: 18px;
					a {
						color: $accent-color;
						font-size: 18px;
						letter-spacing: calc(18px*50 / 1000);
					}
				}
			}
		}
	
	}
	&__index {		

		flex-basis: 585px;
		@media (max-width:1020px) { // <= 1020
			flex-basis: 100%;
			margin-top: 40px;
		}

		h3 {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: calc(24px*50 / 1000);
			margin-bottom: 21px;
			margin-left: -3px;
		}
	}
	&__btn {
		display:block;
		@include btn-gradient();
		@include box-shadow(#58b988);
		color: $light-color;
		max-width: 140px;
		text-align: center;
		padding: 16px 44px;
		font-size: 18px;
		border-radius: 3px;
		margin-top: 26px;
		&:focus{
			outline: none;
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		counter-reset:list;
		column-count: 2;
		column-gap: 19px;
		font-family: 'Open Sans';
		font-size: 15px;
		letter-spacing: calc(15px*50 / 1000);
		&>li {
			position: relative;
			padding-left: 36px;
			counter-increment:list;
			list-style-type:none;
			margin-bottom: 8px;
			letter-spacing: 0.7px;
			line-height: 24px;
			&::before {
				content: counter(list) ". ";
				
			}
			&::after {
				content: "+";
				position: absolute;
				font-family: 'Open Sans';
				font-size: 15px;
				line-height: 22px;
				left: 0;
				top: 1px;
				background-color: $bg-list-color;
				color: $light-color;
				padding: 0px 7px;
			}
		}
	}
	&__list_next{
		//border: 1px solid red;
		counter-reset:list 10;
		position: relative;
		margin-top: 20px;
		&::before {
			content:'';
			width: 100px;
			height: 2px;
			background-color: $bg-list-color;
			position: absolute;
			top: -14px;
		}
	}
}

// Other Books (4)
.block-books {
	margin-top: 75px;
	.book-list {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		&__item {
			background-image: url(../../img/book2.svg);
			background-repeat: no-repeat;
			width: 270px;
			height: 410px;
			position: relative;
		}
		&__title {
			@include set-font($fz:24px, $va:40, $fw:700);	//set-font($fz, $va, $lh:inherit, $ff:'Roboto Slab', $fw:400)
			text-transform: uppercase;
			text-align: center;
			color: $light-color;
			margin-top: 72px;
		}
		&__subtitle, &__author {
			@include set-font($fz:12px, $va:50, $lh:24px, $ff:'Open Sans');
			text-align: center;
			color: $accent-color;
		}
		&__subtitle {
			margin-top: 17px;
		}

		&__author {
			position: absolute;
			bottom: 32px;
			left: 70px;
		}

	}
	.about-list {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		&__item {
			width: 316px;
			.about {
				text-align: center;
				&__title {
					@include set-font($fz:24px, $va:50, $lh:24px, $fw:700);
					margin-top: 35px;
				}
				&__text {
					@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');
					margin-top: 21px;
				}
				&__btn {
					@include set-font($fz:15px, $va:50, $lh:24px, $fw:700, $ff:'Open Sans');
					display: block;
					color: $accent-color;
					text-decoration: none;
					margin-top: 28px;					
				}
			}
		}
	}

	@at-root .block-blog__btn,
	&__btn  {
		@include btn-gradient();
		@include box-shadow(#58b988);
		@include set-font($fz:18px, $va:40);
		border: none;
		color: $light-color;
		text-decoration: none;
		border-radius: 3px;
		display: block;
		margin: 85px auto 0;
		max-width: 220px;
		text-align: center;
		padding: 13px 0px;
	}
}

// Slider (5)
.block-carousel {
	text-align: center;
	h3 {
		color: $accent-color;
		@include set-font($fz:24px, $va:50, $lh:28px, $fw:700);	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')
		margin-top: 28px;

	}
	&__expert, &__desc {
		color: $gray-color;
		@include set-font($fz:15px, $va:50, $lh:28px, $ff:'Open Sans');	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')

	}
	&__expert {
		margin-bottom: 33px;
	}

	&__desc {
		max-width: 760px;
		margin: 0 auto;
	}

	&-ava {
		position: relative;
		width: 150px;
		height: 150px;
		display: block;
		margin: 0 auto 27px;

	}
	&-bq {
		position: absolute;
		display: block;
		background-image: url(../../img/bq.png);
		background-repeat: no-repeat;
		width: 48px;
		height: 42px;
		top: 0;
		right: -16px;
	}

	&-thumb {
		display: block;
		margin: 0 auto ;
		position: relative;
		overflow: hidden;
		width: 150px;
		height: 150px;
		border-radius: 100%;
		img {
			width: 150px;
			height: 150px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
		}

	}
}
.slick-dots {
	margin-top: 37px;
	display: flex;
	justify-content: center;
	list-style-type: none;
	&>li {
		margin: 0 9px;
		&>button {
			text-indent: -9999px;
			padding: 0;
			line-height: 0;
			font-size: 0;
			cursor: pointer;
			width: 8px;
			height: 8px;
			border: none;
			background-color: $accent-color;
			border-radius: 100%;
			&:focus{
				outline: none;
			}
	
		}
	}
	&>li.slick-active {
		&>button {
			width: 37px;
			border-radius: 4px;
		}

	}
}

// Upcoming Events (6)
// --> .block-author + .block-ava

// Latest from Blog (7)
.block-blog {
	display: flex;
	justify-content: space-between;
	margin-top: 74px;
	@media (max-width:900px) { // <= 900
		flex-direction: column;
		min-width: 600px;
		margin: 74px auto 0;
	}
	&__item {
		flex-basis: 32%;
		@media (max-width:900px) { // <= 900
			margin-bottom: 40px;
		}
	}
	h4 {
		@include set-font($fz:18px, $va:50, $lh:22px, $fw:700);	
		margin-top: 16px;
	}
	&-img {
			width: 100%;
			height: 224px;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				height: 224px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				object-fit: cover;

			}
	}
	&-info {
		@include set-font($fz:15px, $va:50, $lh:44px, $ff:'Open Sans');
		display: flex;
		flex-wrap: wrap;
		a {
			color: $accent-color;
			text-decoration: none;
			// @media (max-width:836px) { // <= 836
			// 	line-height: 5px;
			// 	margin-bottom: 20px;
			// }
	
		}
	}
	&__desc {
		@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');	
	}
	&__btn {
		max-width: 266px;
	}
}

// Join Newsletter (8)
.block-letter {
	display: flex;
	justify-content: space-between;
	&-item {
		flex-basis: 49%;
	}
	&__title {
		@include set-font($fz:48px, $va:40, $lh:44px, $fw:700);	
		margin-bottom: 16px;
	}
	&__text {
		@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');	

	}
	&__input {
		width: 100%;
		background-color: $bg-dark-color;
		color: $gray-color;
		border: none;
		padding: 15px 27px;
		box-sizing: border-box;
		border-radius: 3px;
		@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');
		&:focus {
			outline: none;
		}
		&::placeholder {
			@include set-font($fz:15px, $va:50, $lh:24px, $ff:'Open Sans');
		}
		
	}
	&__btn {
		@include btn-gradient();
		@include box-shadow(#58b988);
		@include set-font($fz:18px, $va:40);	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')
		display: block;
		border: none;
		color: $light-color;
		text-decoration: none;
		border-radius: 3px;
		margin-top: 21px;
		text-align: center;
		padding: 11px 0 15px 0;

		width: 100%;

		&:focus {
			outline: none;
		}	
	}
}

// Footer (9)
.footer {
	background-color:$bg-dark-color;
	color: $gray-color;
	padding-top: 155px;
}

.block-footer {
	@include set-font($fz:15px, $va:40, $lh:24px, $ff:'Open Sans');	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')
	display: flex;
	justify-content: space-between;
	&>div {
		&:nth-child(1) {
			flex-basis: 32%;
		}
		&:nth-child(2) {
			flex-basis: 23%;
			margin-top: 11px;
		}
		&:nth-child(3) {
			flex-basis: 23%;
			margin-top: 11px;


		}

	}
	&__logo {
	
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../../img/logo2.svg);
		margin-bottom: 31px;
		
	}
	&__copyright {
		margin-top: 24px;
		margin-bottom: 155px;
	}
	&__title {
		@include set-font($fz:18px, $va:40, $lh:24px, $fw:700);	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')
		color: $accent-color;
		text-transform: uppercase;
		margin-bottom: 21px;
	}
	&__list {
		list-style: none;
		&>li {
			margin-bottom: 4px;
		}
		&--right {
			line-height: 20px;
		}
	}
	&__social {
		margin-top: 14px;
		list-style: none;
		
		@include set-font($fz:15px, $va:40);	//set-font($fz, $va, $lh:inheretic, $ff:'Roboto Slab')

		display: flex;
		&>li {
			margin-right: 13px;
			&>a {
				color: $accent-color;
			}
		}
	}

}


// Title in any pages
.block-title {
	text-align: center;
	h2 {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: calc(48px*40 / 1000);
		margin-top: 81px;
	}
	span {
		display: block;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: calc(18px*50 / 1000);
		color: $accent-color;
		line-height: 43px;
	}
}

////////////////////////
/*
// Slider
.block-carousel {
	border: 1px solid green;
	padding-bottom: 50px;	
}

.slick-dots {
	font-size: 22px;
}
.slick-dots li button {
	&:before {
		font-family: 'slick';
		font-size: 6px;
		line-height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		content: '•';
		text-align: center;
		opacity: .25;
		color: black;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		//---
		font-size: 10px;
		color: blue;
		//background-color: greenyellow;
	}
 	&:hover {
		&:before {
			font-size: 16px;
			color: red;
		}
	}

}
.slick-dots li.slick-active button {
	&:before {
		background-color: whitesmoke;
		color: red;
	}
}
*/